Repository google-marketing-solutions/shoppable-video: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyink, pylint, gts-lint, gts-fix

pyink:
  name: pyink
  entry: pyink
  language: system
  args:
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --recursive=y
  - .

gts-lint:
  name: gts lint
  entry: bash -c 'cd src/webapp/frontend && npm run lint'
  language: system
  pass_filenames: false

gts-fix:
  name: gts fix
  entry: bash -c 'cd src/webapp/frontend && npm run fix'
  language: system
  pass_filenames: false

feat(pipeline): Support product image links in data model and retrieval queue
  src/pipeline/product_embeddings/queue_products/queries/get_new_products.sql
  src/pipeline/product_embeddings/queue_products/tests/test_queue_products_lib.py
  src/pipeline/shared/common.py
  src/pipeline/shared/tests/test_common.py
Due: pyink, pylint

feat(pipeline): Implement multimodal embedding generator in shared library
  src/pipeline/product_embeddings/generate_embedding/requirements.txt
  src/pipeline/shared/common.py
  src/pipeline/shared/embeddings.py
  src/pipeline/shared/pyproject.toml
  src/pipeline/shared/tests/test_embeddings.py
  src/pipeline/video_inventory_analysis/analyze_video/requirements.txt
  uv.lock
Due: pyink, pylint

feat(pipeline): Migrate embedding services to multimodal model
  src/pipeline/product_embeddings/generate_embedding/generate_embedding_lib.py
  src/pipeline/product_embeddings/generate_embedding/main.py
  src/pipeline/product_embeddings/generate_embedding/tests/test_generate_embedding_lib.py
  src/pipeline/video_inventory_analysis/analyze_video/analyze_video_lib.py
  src/pipeline/video_inventory_analysis/analyze_video/main.py
  src/pipeline/video_inventory_analysis/analyze_video/tests/test_analyze_video_lib.py
Due: pyink, pylint

feat(infra): Configure infrastructure for multimodal embeddings
  terraform/main.tf
  terraform/modules/pipeline/bigquery/main.tf
  terraform/modules/pipeline/bigquery/templates/matched_products.sql
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/variables.tf
  terraform/variables.tf
Due: none

Update readme and default variable
  README.md
  terraform/variables.tf
Due: none

ng test precommit rule
  .pre-commit-config.yaml
Due: none

fix: dark/light mode css issues
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.scss
  src/webapp/frontend/src/app/components/video-details/video-details.scss
Due: none

Cloud run job deployment and scheduler
  pyproject.toml
  src/webapp/cloud_run/Dockerfile
  src/webapp/cloud_run/pyproject.toml
  terraform/main.tf
  terraform/modules/build/main.tf
  terraform/modules/webapp/jobs.tf
  terraform/modules/webapp/variables.tf
  uv.lock
Due: none

fix: resolve pip install issue
  src/webapp/cloud_run/Dockerfile
Due: none

feat: include YouTube video description in metadata
  src/pipeline/video_inventory_analysis/queue_videos/queue_videos_lib.py
  src/pipeline/video_inventory_analysis/queue_videos/tests/test_queue_videos_lib.py
Due: pyink, pylint

chore: pure rename of cloud_run to push_to_ads to preserve history
  src/webapp/push_to_ads/Dockerfile
  src/webapp/push_to_ads/ads_service.py
  src/webapp/push_to_ads/bigquery_service.py
  src/webapp/push_to_ads/constants.py
  src/webapp/push_to_ads/main.py
  src/webapp/push_to_ads/pyproject.toml
Due: pyink, pylint

feat: provision firestore database infrastructure
  terraform/main.tf
  terraform/modules/project_setup/main.tf
  terraform/modules/webapp/firestore/firestore.rules
  terraform/modules/webapp/firestore/main.tf
  terraform/modules/webapp/firestore/variables.tf
  terraform/modules/webapp/main.tf
  terraform/modules/webapp/variables.tf
  terraform/variables.tf
Due: none

feat: implement firestore service for data operations
  .pre-commit-config.yaml
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/services/firestore_service.py
  src/webapp/backend/tests/test_services/test_firestore_service.py
Due: pyink, pylint

feat: migrate backend rest endpoints to firestore
  src/webapp/backend/app/api/dependencies.py
  src/webapp/backend/app/api/routes/ad_group_insertions.py
  src/webapp/backend/app/api/routes/candidates.py
  src/webapp/backend/app/api/routes/videos.py
  src/webapp/backend/tests/conftest.py
  src/webapp/backend/tests/test_api/test_ad_group_insertions.py
  src/webapp/backend/tests/test_api/test_candidates.py
  src/webapp/backend/tests/test_api/test_dependencies.py
  src/webapp/backend/tests/test_api/test_reports.py
  src/webapp/backend/tests/test_api/test_videos.py
Due: pyink, pylint

refactor: Implement push_to_ads data models, shared constants, and utilities
  src/webapp/push_to_ads/models.py
  src/webapp/push_to_ads/utils.py
Due: pyink, pylint

feat: Implement core Ads Service logic
  src/webapp/push_to_ads/ads_service.py
Due: pyink, pylint

test: Add comprehensive unit tests for Ads Service
  src/webapp/push_to_ads/tests/__init__.py
  src/webapp/push_to_ads/tests/test_ads_service.py
Due: pyink, pylint

feat: Implement main data processor component
  src/webapp/push_to_ads/processor.py
Due: pyink, pylint

refactor: Update app entrypoint, refresh infrastructure, and prune obsolete files
  pyproject.toml
  src/webapp/push_to_ads/Dockerfile
  src/webapp/push_to_ads/bigquery_service.py
  src/webapp/push_to_ads/constants.py
  src/webapp/push_to_ads/main.py
  src/webapp/push_to_ads/pyproject.toml
  terraform/modules/build/main.tf
  terraform/modules/webapp/jobs.tf
  uv.lock
Due: pyink, pylint

test: Add comprehensive unit tests for Processor
  src/webapp/push_to_ads/tests/test_processor.py
Due: pyink, pylint

feat: decommission legacy bigquery code and finalize infrastructure
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status.sql
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status_by_video.sql
  src/webapp/backend/app/services/queries/get_all_ad_group_insertion_statuses.sql
  src/webapp/backend/app/services/queries/get_video_analysis.sql
  src/webapp/backend/app/services/queries/get_video_analysis_summary.sql
  src/webapp/backend/pyproject.toml
  src/webapp/backend/tests/test_services/test_bigquery_service.py
  src/webapp/backend/tests/test_services/test_google_ads.py
  terraform/main.tf
  terraform/modules/pipeline/bigquery/main.tf
  terraform/modules/pipeline/functions/main.tf
  terraform/modules/project_setup/main.tf
  terraform/modules/webapp/bigquery/main.tf
  terraform/modules/webapp/bigquery/outputs.tf
  terraform/modules/webapp/bigquery/variables.tf
  terraform/modules/webapp/firestore/main.tf
  terraform/modules/webapp/firestore/variables.tf
  terraform/modules/webapp/main.tf
  terraform/modules/webapp/security/main.tf
  terraform/modules/webapp/variables.tf
  terraform/variables.tf
  uv.lock
Due: pyink, pylint

feat: implement data sync module for periodic warehouse synchronization
  pyproject.toml
  src/webapp/data_sync/Dockerfile
  src/webapp/data_sync/app/__init__.py
  src/webapp/data_sync/app/services/__init__.py
  src/webapp/data_sync/app/services/sync_service.py
  src/webapp/data_sync/main.py
  src/webapp/data_sync/pyproject.toml
  src/webapp/data_sync/tests/test_sync_service.py
  terraform/modules/build/main.tf
  terraform/modules/webapp/jobs.tf
  uv.lock
Due: pyink, pylint

feat(webapp): centralize logging configuration for cloud run jobs
  .gcloudignore
  pyproject.toml
  src/webapp/data_sync/Dockerfile
  src/webapp/data_sync/main.py
  src/webapp/data_sync/pyproject.toml
  src/webapp/push_to_ads/Dockerfile
  src/webapp/push_to_ads/main.py
  src/webapp/push_to_ads/pyproject.toml
  src/webapp/shared/logging_config.py
  src/webapp/shared/pyproject.toml
  src/webapp/shared/tests/test_logging_config.py
  terraform/modules/build/main.tf
  uv.lock
Due: pyink, pylint

feat: add support for search keyword synchronization with test coverage
  src/webapp/data_sync/app/services/sync_service.py
  src/webapp/data_sync/tests/test_sync_service.py
Due: pyink, pylint

feat(backend): Update video model and firestore service with status and search, add indexes
  src/webapp/backend/app/models/video.py
  src/webapp/backend/app/services/firestore_service.py
  src/webapp/data_sync/app/services/sync_service.py
  terraform/modules/webapp/firestore/main.tf
Due: pyink, pylint

test(backend): Add tests for firestore service and video model updates
  src/webapp/backend/tests/test_models/test_video.py
  src/webapp/backend/tests/test_services/test_firestore_service.py
Due: pyink, pylint

feat(ads): Changes to processor to support state in videos
  src/webapp/push_to_ads/models.py
  src/webapp/push_to_ads/processor.py
  src/webapp/push_to_ads/tests/test_processor.py
Due: pyink, pylint

feat(terraform): refactor secret management to project_setup for independent deployment
  .gitignore
  terraform/main.tf
  terraform/modules/project_setup/config/secrets/.keep
  terraform/modules/project_setup/config/secrets/developer_token.template.txt
  terraform/modules/project_setup/config/secrets/google_client_id.template.txt
  terraform/modules/project_setup/config/secrets/google_client_secret.template.txt
  terraform/modules/project_setup/config/secrets/session_keys.template.txt
  terraform/modules/project_setup/main.tf
  terraform/modules/project_setup/outputs.tf
  terraform/modules/project_setup/variables.tf
  terraform/modules/webapp/main.tf
  terraform/modules/webapp/security/main.tf
  terraform/modules/webapp/security/outputs.tf
  terraform/modules/webapp/security/variables.tf
  terraform/modules/webapp/variables.tf
Due: none

feat(terraform): inject developer token secret into queue_videos job
  terraform/main.tf
  terraform/modules/pipeline/bigquery/main.tf
  terraform/modules/pipeline/jobs/main.tf
  terraform/modules/pipeline/jobs/variables.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/storage/output.tf
  terraform/modules/pipeline/variables.tf
Due: none

feat(pipeline): migrate queue_videos to native Google Ads API via GAQL
  src/pipeline/product_embeddings/generate_embedding/main.py
  src/pipeline/product_embeddings/queue_products/main.py
  src/pipeline/shared/logging_config.py
  src/pipeline/shared/pyproject.toml
  src/pipeline/video_inventory_analysis/analyze_video/main.py
  src/pipeline/video_inventory_analysis/queue_videos/main.py
  src/pipeline/video_inventory_analysis/queue_videos/pyproject.toml
  src/pipeline/video_inventory_analysis/queue_videos/queue_videos_lib.py
  src/pipeline/video_inventory_analysis/queue_videos/tests/test_queue_videos_lib.py
  uv.lock
Due: pyink, pylint

chore(frontend): update global branding typography, favicon, and static icon assets
  src/webapp/frontend/public/assets/icons/cloud-storage.png
  src/webapp/frontend/public/assets/icons/youtube.png
  src/webapp/frontend/public/favicon.ico
  src/webapp/frontend/public/favicon.svg
  src/webapp/frontend/src/index.html
  src/webapp/frontend/src/styles.scss
Due: none

feat(backend): Update firestore service and optimize data sync
  src/webapp/backend/app/services/firestore_service.py
  src/webapp/data_sync/app/services/sync_service.py
Due: pyink, pylint

refactor(frontend): simplify active account context switcher and update login styling
  src/webapp/frontend/src/app/app.html
  src/webapp/frontend/src/app/app.scss
  src/webapp/frontend/src/app/app.ts
  src/webapp/frontend/src/app/components/login/login.scss
Due: gts-lint, gts-fix

feat(frontend): implement debounced server-side search and status filtering in video summary table
  src/webapp/frontend/src/app/components/all-results/all-results.html
  src/webapp/frontend/src/app/components/all-results/all-results.scss
  src/webapp/frontend/src/app/components/all-results/all-results.spec.ts
  src/webapp/frontend/src/app/components/all-results/all-results.ts
  src/webapp/frontend/src/app/models/index.ts
  src/webapp/frontend/src/app/services/data.service.ts
  src/webapp/frontend/src/app/utils/mappers.ts
Due: gts-lint, gts-fix

refactor(frontend): overhaul global navigation to top toolbar, simplify context switcher, and enforce dark mode theme
  src/webapp/frontend/src/app/app.html
  src/webapp/frontend/src/app/app.scss
  src/webapp/frontend/src/app/app.ts
  src/webapp/frontend/src/app/components/all-results/all-results.html
  src/webapp/frontend/src/app/components/all-results/all-results.scss
  src/webapp/frontend/src/app/components/all-results/all-results.spec.ts
  src/webapp/frontend/src/app/components/login/login.scss
  src/webapp/frontend/src/styles.scss
Due: gts-lint, gts-fix

feat(frontend): add empty state message for push status history table
  src/webapp/frontend/src/app/components/push-status/push-status.html
  src/webapp/frontend/src/app/components/push-status/push-status.scss
  src/webapp/frontend/src/app/components/push-status/push-status.spec.ts
Due: gts-lint, gts-fix

feat(frontend): finalize submission dialog with multi-destination autocomplete and enriched push history; add collapsible video description
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.html
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.scss
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.spec.ts
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.ts
  src/webapp/frontend/src/app/components/video-details/video-details.html
  src/webapp/frontend/src/app/components/video-details/video-details.scss
  src/webapp/frontend/src/app/components/video-details/video-details.spec.ts
  src/webapp/frontend/src/app/components/video-details/video-details.ts
  src/webapp/frontend/src/app/models/index.ts
  src/webapp/frontend/src/app/services/data.service.ts
  src/webapp/frontend/src/app/utils/mappers.spec.ts
  src/webapp/frontend/src/app/utils/mappers.ts
Due: gts-lint, gts-fix

feat(pipeline): Refactor matched_products to pure ingestion model and remove refresh window
  terraform/main.tf
  terraform/modules/pipeline/bigquery/main.tf
  terraform/modules/pipeline/bigquery/output.tf
  terraform/modules/pipeline/bigquery/templates/matched_products.sql
  terraform/modules/pipeline/bigquery/variables.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/outputs.tf
  terraform/modules/pipeline/variables.tf
  terraform/variables.tf
Due: none

fix(push_to_ads): improve GoogleAdsException error extraction and reporting
  src/webapp/push_to_ads/ads_service.py
  src/webapp/push_to_ads/main.py
  src/webapp/push_to_ads/utils.py
Due: pyink, pylint

feat(backend): enrich ad group insertion status with Google Ads metadata, error reporting, and user filtering
  src/webapp/backend/app/api/routes/ad_group_insertions.py
  src/webapp/backend/app/models/ad_group_insertion.py
  src/webapp/backend/app/services/firestore_service.py
  src/webapp/backend/app/services/google_ads.py
  src/webapp/backend/tests/test_api/test_ad_group_insertions.py
  src/webapp/backend/tests/test_models/test_ad_group_insertion.py
  src/webapp/backend/tests/test_services/test_firestore_service.py
  src/webapp/backend/tests/test_services/test_google_ads.py
  terraform/modules/webapp/firestore/main.tf
Due: pyink, pylint

Path conditions:
  pyink: any of: \.py$
  pylint: any of: \.py$
  gts-lint: any of: ^src/webapp/frontend/ and \.(ts|mts|cts)$
  gts-fix: any of: ^src/webapp/frontend/ and \.(ts|mts|cts)$
