Repository google-marketing-solutions/shoppable-video: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyink, pylint, gts-lint, gts-fix

pyink:
  name: pyink
  entry: pyink
  language: system
  args:
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --recursive=y
  - .

gts-lint:
  name: gts lint
  entry: bash -c 'cd src/webapp/frontend && npm run lint'
  language: system
  pass_filenames: false

gts-fix:
  name: gts fix
  entry: bash -c 'cd src/webapp/frontend && npm run fix'
  language: system
  pass_filenames: false

python autoformat, cleanup
  src/pipeline/product_embeddings/generate_embedding/generate_embedding_lib.py
  src/pipeline/shared/embeddings.py
  src/pipeline/video_inventory_analysis/analyze_video/analyze_video_lib.py
  src/pipeline/video_inventory_analysis/queue_videos/queue_videos_lib.py
  src/webapp/backend/app/api/dependencies.py
  src/webapp/backend/app/api/routes/auth.py
  src/webapp/backend/app/api/routes/candidates.py
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/main.py
  src/webapp/backend/app/models/ad_group_insertion.py
  src/webapp/backend/app/models/candidate.py
  src/webapp/backend/app/models/video.py
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/cloud_run/ads_service.py
  src/webapp/backend/cloud_run/bigquery_service.py
  src/webapp/backend/cloud_run/main.py
  tests/product_embeddings/generate_embedding/test_generate_embedding_lib.py
  tests/shared/test_common.py
  tests/shared/test_embeddings.py
  tests/video_inventory_analysis/queue_videos/test_queue_videos_lib.py
Due: pyink, pylint

format sql
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status.sql
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status_by_video.sql
  src/webapp/backend/app/services/queries/get_ad_groups_for_video.sql
  src/webapp/backend/app/services/queries/get_all_ad_group_insertion_statuses.sql
  src/webapp/backend/app/services/queries/get_video_analysis.sql
  src/webapp/backend/app/services/queries/get_video_analysis_summary.sql
Due: none

ran gts fix
  src/webapp/frontend/src/app/app.routes.ts
  src/webapp/frontend/src/app/app.ts
  src/webapp/frontend/src/app/components/all-results/all-results.ts
  src/webapp/frontend/src/app/components/login/login.ts
  src/webapp/frontend/src/app/components/push-status/push-status.ts
  src/webapp/frontend/src/app/components/status-footer/status-footer.ts
  src/webapp/frontend/src/app/components/video-details/video-details.spec.ts
  src/webapp/frontend/src/app/components/video-details/video-details.ts
  src/webapp/frontend/src/app/services/auth.service.ts
Due: gts-lint, gts-fix

Set up conductor for project
  conductor/code_styleguides/general.md
  conductor/code_styleguides/html-css.md
  conductor/code_styleguides/javascript.md
  conductor/code_styleguides/python.md
  conductor/code_styleguides/typescript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/workflow.md
Due: none

conductor(setup): Add conductor tracks for variants and backend testing
  conductor/index.md
  conductor/tracks.md
  conductor/tracks/backend_tests_20260226/index.md
  conductor/tracks/backend_tests_20260226/metadata.json
  conductor/tracks/backend_tests_20260226/plan.md
  conductor/tracks/backend_tests_20260226/spec.md
  conductor/tracks/variant_grouping_20260226/index.md
  conductor/tracks/variant_grouping_20260226/metadata.json
  conductor/tracks/variant_grouping_20260226/plan.md
  conductor/tracks/variant_grouping_20260226/spec.md
  conductor/workflow.md
Due: none

refactor(cloud_run): Relocate cloud_run service directory
  src/webapp/cloud_run/ads_service.py
  src/webapp/cloud_run/bigquery_service.py
  src/webapp/cloud_run/constants.py
  src/webapp/cloud_run/main.py
Due: pyink, pylint

feat(test): Setup pytest infrastructure for backend
  .gitignore
  conductor/code_styleguides/python.md
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/backend_tests_20260226/plan.md
  src/webapp/backend/pyproject.toml
  src/webapp/backend/requirements.in
  src/webapp/backend/requirements.txt
  src/webapp/backend/tests/__init__.py
  src/webapp/backend/tests/conftest.py
  src/webapp/backend/tests/test_models/__init__.py
Due: pyink, pylint

test(backend): Implement unit tests and validation for Pydantic models
  src/webapp/backend/app/models/ad_group_insertion.py
  src/webapp/backend/app/models/candidate.py
  src/webapp/backend/app/models/product.py
  src/webapp/backend/app/models/video.py
  src/webapp/backend/tests/test_models/test_ad_group_insertion.py
  src/webapp/backend/tests/test_models/test_candidate.py
  src/webapp/backend/tests/test_models/test_product.py
  src/webapp/backend/tests/test_models/test_video.py
Due: pyink, pylint

refactor(bq): Enhance row-to-dict typing in BigQuery service
  src/webapp/backend/app/services/bigquery_service.py
Due: pyink, pylint

test(backend): Implement unit tests for core services
  src/webapp/backend/tests/test_services/__init__.py
  src/webapp/backend/tests/test_services/test_bigquery_service.py
  src/webapp/backend/tests/test_services/test_google_ads.py
Due: pyink, pylint

chore(conductor): Mark testing phases as complete
  conductor/code_styleguides/python.md
  conductor/tracks/backend_tests_20260226/plan.md
Due: none

test(backend): Implement integration tests for API routes
  src/webapp/backend/app/api/dependencies.py
  src/webapp/backend/app/api/routes/reports.py
  src/webapp/backend/app/api/routes/videos.py
  src/webapp/backend/app/services/google_ads.py
  src/webapp/backend/tests/conftest.py
  src/webapp/backend/tests/test_api/test_ad_group_insertions.py
  src/webapp/backend/tests/test_api/test_candidates.py
  src/webapp/backend/tests/test_api/test_reports.py
  src/webapp/backend/tests/test_api/test_videos.py
Due: pyink, pylint

feat(models): Update MatchedProduct with Variant model
  src/webapp/backend/app/models/product.py
  src/webapp/backend/tests/test_models/test_product.py
Due: pyink, pylint

feat(services): Group matched products by image link in BigQuery
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/app/services/queries/get_video_analysis.sql
Due: pyink, pylint

chore: Migrate gsutil usage to gcloud storage
  terraform/outputs.tf
Due: none

chore: update
  terraform/modules/webapp/outputs.tf
Due: none

Merge 875048f62bcfa91f1df546e71bc0e49cfdb67f1d into 1fae4cd294ac622a25596cbbe965c4d421b74f4d
  terraform/modules/webapp/outputs.tf
  terraform/outputs.tf
Due: none

feat(frontend): Display product variants badge and dialog
  src/webapp/frontend/src/app/components/video-details/video-details.html
  src/webapp/frontend/src/app/components/video-details/video-details.scss
  src/webapp/frontend/src/app/components/video-details/video-details.ts
  src/webapp/frontend/src/app/models/index.ts
  src/webapp/frontend/src/app/utils/mappers.ts
Due: gts-lint, gts-fix

chore(conductor): Mark track 'Handle and group product variants' as complete
  conductor/product-guidelines.md
  conductor/product.md
  conductor/tracks.md
  conductor/tracks/variant_grouping_20260226/plan.md
Due: none

chore(conductor): Add new track 'Ads Customer ID hierarchy handling'
  conductor/tracks.md
  conductor/tracks/ads_hierarchy_20260313/index.md
  conductor/tracks/ads_hierarchy_20260313/metadata.json
  conductor/tracks/ads_hierarchy_20260313/plan.md
  conductor/tracks/ads_hierarchy_20260313/spec.md
Due: none

chore: migrate project to uv workspace
  .gcloudignore
  .pre-commit-config.yaml
  base-tooling-requirements.txt
  pyproject.toml
  src/pipeline/product_embeddings/generate_embedding/pyproject.toml
  src/pipeline/product_embeddings/generate_embedding/requirements.txt
  src/pipeline/product_embeddings/queue_products/Dockerfile
  src/pipeline/product_embeddings/queue_products/pyproject.toml
  src/pipeline/product_embeddings/queue_products/requirements.in
  src/pipeline/product_embeddings/queue_products/requirements.txt
  src/pipeline/shared/pyproject.toml
  src/pipeline/shared/requirements.in
  src/pipeline/shared/requirements.txt
  src/pipeline/video_inventory_analysis/analyze_video/pyproject.toml
  src/pipeline/video_inventory_analysis/analyze_video/requirements.txt
  src/pipeline/video_inventory_analysis/queue_videos/Dockerfile
  src/pipeline/video_inventory_analysis/queue_videos/pyproject.toml
  src/pipeline/video_inventory_analysis/queue_videos/requirements.in
  src/pipeline/video_inventory_analysis/queue_videos/requirements.txt
  src/webapp/backend/Dockerfile
  src/webapp/backend/pyproject.toml
  src/webapp/backend/requirements.in
  src/webapp/backend/requirements.txt
  terraform/modules/build/main.tf
  terraform/modules/pipeline/functions/main.tf
  uv.lock
Due: none

test(pipeline): Reorganize pipeline tests to module-specific tests/ directories
  src/pipeline/product_embeddings/generate_embedding/tests/test_generate_embedding_lib.py
  src/pipeline/product_embeddings/queue_products/tests/test_queue_products_lib.py
  src/pipeline/shared/tests/test_common.py
  src/pipeline/shared/tests/test_embeddings.py
  src/pipeline/video_inventory_analysis/analyze_video/tests/test_analyze_video_lib.py
  src/pipeline/video_inventory_analysis/queue_videos/tests/test_queue_videos_lib.py
  tests/product_embeddings/__init__.py
  tests/product_embeddings/generate_embedding/__init__.py
  tests/product_embeddings/queue_products/__init__.py
  tests/shared/__init__.py
  tests/video_inventory_analysis/__init__.py
  tests/video_inventory_analysis/analyze_video/__init__.py
  tests/video_inventory_analysis/queue_videos/__init__.py
Due: pyink, pylint

test(pipeline): Migrate pipeline tests to pytest
  src/pipeline/product_embeddings/generate_embedding/tests/__init__.py
  src/pipeline/product_embeddings/generate_embedding/tests/test_generate_embedding_lib.py
  src/pipeline/product_embeddings/queue_products/tests/__init__.py
  src/pipeline/product_embeddings/queue_products/tests/test_queue_products_lib.py
  src/pipeline/shared/tests/__init__.py
  src/pipeline/shared/tests/conftest.py
  src/pipeline/shared/tests/test_common.py
  src/pipeline/shared/tests/test_embeddings.py
  src/pipeline/video_inventory_analysis/analyze_video/tests/__init__.py
  src/pipeline/video_inventory_analysis/analyze_video/tests/test_analyze_video_lib.py
  src/pipeline/video_inventory_analysis/queue_videos/tests/__init__.py
  src/pipeline/video_inventory_analysis/queue_videos/tests/test_queue_videos_lib.py
Due: pyink, pylint

chore(infra): Rename ads_customer_id to google_ads_customer_id and wire to webapp
  README.md
  src/webapp/backend/app/core/config.py
  terraform/main.tf
  terraform/modules/pipeline/bigquery/main.tf
  terraform/modules/pipeline/bigquery/variables.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/variables.tf
  terraform/modules/webapp/main.tf
  terraform/modules/webapp/variables.tf
  terraform/variables.tf
Due: pyink, pylint

refactor(ads): unify login-customer-id naming and enhance GAQL queries
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/services/google_ads.py
  src/webapp/backend/tests/test_services/test_google_ads.py
Due: pyink, pylint

feat(ads): implement explicit login_customer_id routing and discovery
  src/webapp/backend/app/api/dependencies.py
  src/webapp/backend/app/api/routes/reports.py
  src/webapp/backend/tests/test_api/test_dependencies.py
  src/webapp/backend/tests/test_api/test_reports.py
Due: pyink, pylint

docs(conductor): update track plan and spec for explicit Ads context
  conductor/tracks.md
  conductor/tracks/ads_hierarchy_20260313/plan.md
  conductor/tracks/ads_hierarchy_20260313/spec.md
Due: none

test(candidates): Add tests for multi-destination submission payloads
  src/webapp/backend/tests/test_api/test_candidates.py
Due: pyink, pylint

refactor(backend): enforce integer typing for Google Ads identifiers
  src/webapp/backend/app/api/dependencies.py
  src/webapp/backend/app/api/routes/reports.py
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/models/candidate.py
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/app/services/google_ads.py
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status.sql
  src/webapp/backend/app/services/queries/get_ad_groups_for_video.sql
  src/webapp/backend/app/services/queries/get_campaigns_for_video.sql
  src/webapp/backend/tests/conftest.py
  src/webapp/backend/tests/test_api/test_candidates.py
  src/webapp/backend/tests/test_api/test_reports.py
  src/webapp/backend/tests/test_models/test_candidate.py
  src/webapp/backend/tests/test_services/test_bigquery_service.py
  src/webapp/backend/tests/test_services/test_google_ads.py
Due: pyink, pylint

chore(py): fix sorting/lint and add isort google style defaults
  pyproject.toml
  src/pipeline/product_embeddings/generate_embedding/main.py
  src/pipeline/product_embeddings/queue_products/tests/test_queue_products_lib.py
  src/pipeline/shared/tests/test_common.py
  src/pipeline/video_inventory_analysis/analyze_video/analyze_video_lib.py
  src/pipeline/video_inventory_analysis/analyze_video/main.py
  src/pipeline/video_inventory_analysis/queue_videos/queue_videos_lib.py
  src/webapp/backend/app/api/routes/ad_group_insertions.py
  src/webapp/backend/app/api/routes/candidates.py
  src/webapp/backend/app/core/config.py
  src/webapp/backend/app/core/security.py
  src/webapp/backend/app/models/ad_group_insertion.py
  src/webapp/backend/app/models/candidate.py
  src/webapp/backend/app/models/product.py
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/tests/conftest.py
  src/webapp/backend/tests/test_api/test_dependencies.py
  src/webapp/backend/tests/test_api/test_videos.py
  src/webapp/backend/tests/test_models/test_ad_group_insertion.py
  src/webapp/backend/tests/test_models/test_candidate.py
  src/webapp/backend/tests/test_models/test_product.py
  src/webapp/backend/tests/test_services/test_bigquery_service.py
Due: pyink, pylint

feat(auth/infra): implement secure active account selector and user profile
  src/webapp/backend/app/api/routes/auth.py
  src/webapp/frontend/src/app/app.html
  src/webapp/frontend/src/app/app.scss
  src/webapp/frontend/src/app/app.ts
  src/webapp/frontend/src/app/models/index.ts
  src/webapp/frontend/src/app/services/auth.service.ts
  src/webapp/frontend/src/app/services/data.service.ts
Due: pyink, pylint, gts-lint, gts-fix

feat(backend): implement video-to-adgroup discovery and reporting filters
  src/webapp/backend/app/api/routes/reports.py
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/app/services/google_ads.py
  src/webapp/backend/app/services/queries/get_ad_groups_for_video.sql
  src/webapp/backend/app/services/queries/get_campaigns_for_video.sql
  src/webapp/backend/tests/test_api/test_reports.py
  src/webapp/backend/tests/test_services/test_bigquery_service.py
  src/webapp/backend/tests/test_services/test_google_ads.py
Due: pyink, pylint

feat(backend): refactor Google Ads insertion status and bidding schema
  src/webapp/backend/app/services/bigquery_service.py
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status.sql
  src/webapp/backend/app/services/queries/get_ad_group_insertion_status_by_video.sql
  src/webapp/backend/app/services/queries/get_all_ad_group_insertion_statuses.sql
  terraform/modules/webapp/bigquery/main.tf
Due: pyink, pylint

refactor(frontend): update models and mappers for numeric IDs
  src/webapp/frontend/src/app/models/index.ts
  src/webapp/frontend/src/app/utils/mappers.spec.ts
  src/webapp/frontend/src/app/utils/mappers.ts
Due: gts-lint, gts-fix

feat(frontend): refactor DataService for account state and numeric IDs
  src/webapp/frontend/src/app/services/data.service.ts
Due: gts-lint, gts-fix

feat(frontend): implement active account selector in app shell
  src/webapp/frontend/src/app/app.html
  src/webapp/frontend/src/app/app.routes.ts
  src/webapp/frontend/src/app/app.ts
Due: gts-lint, gts-fix

feat(frontend): enhance submission dialog with destination discovery
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.html
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.scss
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.spec.ts
  src/webapp/frontend/src/app/components/submission-dialog/submission-dialog.ts
Due: gts-lint, gts-fix

feat(frontend): final UI updates and track completion
  conductor/tracks.md
  conductor/tracks/ads_hierarchy_20260313/plan.md
  src/webapp/frontend/src/app/components/push-status/push-status.html
  src/webapp/frontend/src/app/components/push-status/push-status.spec.ts
  src/webapp/frontend/src/app/components/push-status/push-status.ts
  src/webapp/frontend/src/app/components/video-details/video-details.spec.ts
  src/webapp/frontend/src/app/components/video-details/video-details.ts
Due: gts-lint, gts-fix

build(frontend): migrate ESLint config to JS for robust path resolution
  src/webapp/frontend/.eslintrc.js
  src/webapp/frontend/.eslintrc.json
Due: none

feat(db): Update product_embeddings table schema
  terraform/modules/pipeline/bigquery/main.tf
Due: none

Path conditions:
  pyink: any of: \.py$
  pylint: any of: \.py$
  gts-lint: any of: ^src/webapp/frontend/ and \.(ts|mts|cts)$
  gts-fix: any of: ^src/webapp/frontend/ and \.(ts|mts|cts)$
